In [56]:
import pandas as pd
import numpy as np

In [57]:
l1 = np.array([0, 1, 3, 4, 6, 7])
l2 = np.array([1, 1, 2, 2, 3, 3])
l3 = np.array([2, 3, 1])
point = [0.5 , 0.5]

In [58]:
df = pd.DataFrame()#[np.transpose(l1), np.transpose(l2)], columns =['class', 'cluster'])

In [59]:
df['A'] = l1

In [60]:
df['cluster'] = l2

In [61]:
# df['B'] = l3

In [62]:
df.head(10)

   A  cluster
0  0        1
1  1        1
2  3        2
3  4        2
4  6        3
5  7        3

In [63]:
def calculate_silhouette(df):
    point_df = df.drop(columns = ['cluster'])
    df['intra_distance'] = np.zeros(len(df))
    df['inter_distance'] = np.zeros(len(df))
    df['silhouette_coeff'] = np.zeros(len(df))
    index = 0
    for point in point_df.to_numpy():
        cluster_dist_dict = {}
        intra_total = 0
        inter_total = float('INF')
        intra_points = 0
        reference_cluster = df['cluster'].iloc[index]

        distance_df = (point_df - point)**2
        distances = (distance_df.sum(axis=1))**0.5

        for i in range(len(distances)):
            if df['cluster'].iloc[i] == reference_cluster:
                intra_total += distances[i]
                intra_points += 1

            else:
                if df['cluster'].iloc[i] not in cluster_dist_dict.keys():
                    cluster_dist_dict[df['cluster'].iloc[i]] = [distances[i]]
                else:
                    cluster_dist_dict[df['cluster'].iloc[i]].append(distances[i])
        print('cluster dict \n', cluster_dist_dict)
        for key in cluster_dist_dict.keys():
            if sum(cluster_dist_dict[key]) < inter_total:
                inter_total = sum(cluster_dist_dict[key])
                inter_points = len(cluster_dist_dict[key])
        print("point", point, 'dist', inter_total, 'num pts', inter_points)


        intra_dist = intra_total/(intra_points-1)
        inter_dist = inter_total/inter_points
        df['intra_distance'].iloc[index] = intra_dist
        df['inter_distance'].iloc[index] = inter_dist
        df['silhouette_coeff'].iloc[index] = (inter_dist - intra_dist)/max(intra_total, inter_dist)
        index+=1

    return df, df['silhouette_coeff'].mean()

In [64]:
sil_df, coeff = calculate_silhouette(df)

cluster dict
 {2: [3.0, 4.0], 3: [6.0, 7.0]}
point [0] dist 7.0 num pts 2
cluster dict
 {2: [2.0, 3.0], 3: [5.0, 6.0]}
point [1] dist 5.0 num pts 2
cluster dict
 {1: [3.0, 2.0], 3: [3.0, 4.0]}
point [3] dist 5.0 num pts 2
cluster dict
 {1: [4.0, 3.0], 3: [2.0, 3.0]}
point [4] dist 5.0 num pts 2
cluster dict
 {1: [6.0, 5.0], 2: [3.0, 2.0]}
point [6] dist 5.0 num pts 2
cluster dict
 {1: [7.0, 6.0], 2: [4.0, 3.0]}
point [7] dist 7.0 num pts 2

In [65]:
sil_df.head(10)

   A  cluster  intra_distance  inter_distance  silhouette_coeff
0  0        1             1.0             3.5          0.714286
1  1        1             1.0             2.5          0.600000
2  3        2             1.0             2.5          0.600000
3  4        2             1.0             2.5          0.600000
4  6        3             1.0             2.5          0.600000
5  7        3             1.0             3.5          0.714286

In [66]:
print(coeff)

0.6380952380952382

In [109]:
for row in df.drop(columns=['cluster']).to_numpy():
    print(row)
    dist_df = (df - row)**2
    print(dist_df)
    print((dist_df.sum(axis=1))**0.5)

[0]

ValueError: Unable to coerce to Series, length must be 2: given 1

In [102]:
df.head()

   class  cluster
0      0        2
1      0        0
2      0        2
3      1        0
4      2        1

In [101]:
labels = df.drop(columns = ['cluster'])

In [103]:
labels.head()

   class
0      0
1      0
2      0
3      1
4      2

In [77]:
print(((df-df.iloc[0])**2).sum(axis = 1))

0    0
1    4
2    0
3    5
4    5
dtype: int64

In [45]:
df.head()

   class  cluster
0      0        2
1      0        0
2      0        2
3      1        0
4      2        1

In [46]:
df['cluster'].unique()

array([2, 0, 1])

In [50]:
total_intersections = 0
for c in df['class'].unique():
    class_mask = df['class'].mask(df['class']==c, 1).mask(df['class']!=c, 0)
    intersections = []
    for l in df['cluster'].unique():
        cluster_mask = df['cluster'].mask(df['cluster']==l, 1).mask(df['cluster']!=l, 0)
        sum_mask = (class_mask+cluster_mask)
        sum_mask = sum_mask.mask(sum_mask == 2, 1).mask(sum_mask != 2, 0)
        intersections.append(sum_mask.sum())
    total_intersections += max(intersections)
print(total_intersections)
purity = total_intersections/len(df)
print(purity)

4
0.8

In [13]:
df.head()

   class  cluster
0      1        3
1      2        1
2      1        3
3      2        1
4      3        2