In [4]:
import pandas as pd
import numpy as np

In [113]:
l1 = np.array([0, 0, 0, 1, 2])
l2 = np.array([2, 0, 2, 0, 1])
l3 = np.array([1, 2, 3, 4, 5])
point = [0.5 , 0.5]

In [114]:
df = pd.DataFrame()#[np.transpose(l1), np.transpose(l2)], columns =['class', 'cluster'])

In [115]:
df['cluster'] = l1

In [116]:
df['A'] = l2

In [117]:
df['B'] = l3

In [118]:
df.head()

   cluster  A  B
0        0  2  1
1        0  0  2
2        0  2  3
3        1  0  4
4        2  1  5

In [142]:
def calculate_silhouette(df):
    point_df = df.drop(columns = ['cluster'])
    df['intra_distance'] = np.zeros(len(df))
    df['inter_distance'] = np.zeros(len(df))
    df['silhouette_coeff'] = np.zeros(len(df))
    index = 0
    for point in point_df.to_numpy():
        intra_total = 0
        inter_total = 0
        reference_cluster = df['cluster'].iloc[index]

        distance_df = (point_df - point)**2
        distances = (distance_df.sum(axis=1))**0.5

        for i in range(len(distances)):
            if df['cluster'].iloc[i] == reference_cluster:
                intra_total += distances[i]
            else:
                inter_total += distances[i]

        intra_dist = intra_total/(len(df)-1)
        inter_dist = inter_total/(len(df)-1)
        df['intra_distance'].iloc[index] = intra_dist
        df['inter_distance'].iloc[index] = inter_dist
        df['silhouette_coeff'].iloc[index] = (inter_dist - intra_dist)/max(intra_total, inter_dist)
        index+=1
        
    return df, df['silhouette_coeff'].mean()

In [143]:
sil_df, coeff = calculate_silhouette(df)

In [144]:
sil_df.head()

   cluster  A  B  intra_distance  inter_distance  silhouette_coeff
0        0  2  1        1.089022        2.115941          0.235743
1        0  0  2        1.129953        1.645929          0.114159
2        0  2  3        1.078291        1.528831          0.104457
3        1  0  4        0.000000        2.780504          1.000000
4        2  1  5        0.000000        3.250417          1.000000

In [146]:
print(coeff)

0.4908718017819577

In [109]:
for row in df.drop(columns=['cluster']).to_numpy():
    print(row)
    dist_df = (df - row)**2
    print(dist_df)
    print((dist_df.sum(axis=1))**0.5)

[0]

ValueError: Unable to coerce to Series, length must be 2: given 1

In [102]:
df.head()

   class  cluster
0      0        2
1      0        0
2      0        2
3      1        0
4      2        1

In [101]:
labels = df.drop(columns = ['cluster'])

In [103]:
labels.head()

   class
0      0
1      0
2      0
3      1
4      2

In [77]:
print(((df-df.iloc[0])**2).sum(axis = 1))

0    0
1    4
2    0
3    5
4    5
dtype: int64

In [45]:
df.head()

   class  cluster
0      0        2
1      0        0
2      0        2
3      1        0
4      2        1

In [46]:
df['cluster'].unique()

array([2, 0, 1])

In [50]:
total_intersections = 0
for c in df['class'].unique():
    class_mask = df['class'].mask(df['class']==c, 1).mask(df['class']!=c, 0)
    intersections = []
    for l in df['cluster'].unique():
        cluster_mask = df['cluster'].mask(df['cluster']==l, 1).mask(df['cluster']!=l, 0)
        sum_mask = (class_mask+cluster_mask)
        sum_mask = sum_mask.mask(sum_mask == 2, 1).mask(sum_mask != 2, 0)
        intersections.append(sum_mask.sum())
    total_intersections += max(intersections)
print(total_intersections)
purity = total_intersections/len(df)
print(purity)

4
0.8

In [13]:
df.head()

   class  cluster
0      1        3
1      2        1
2      1        3
3      2        1
4      3        2